<% layout('layouts/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h1><b><%= listing.title %></b></h1>
    </div>
    <div class="card col-6 offset-2 show-card listing-card">
      <img
        src="<%= listing.image.url %>"
        class="show-image card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">Owned By <%= listing.owner.username %></p>
        <p class="card-text"><%= listing.description %></p>
        <p class="card-text">
          &#x20b9;<%= listing.price.toLocaleString("en-IN") %>
        </p>
        <p class="card-text"><%= listing.location %></p>
        <p class="card-text"><%= listing.country %></p>
        <p class="card-text"></p>
      </div>
    </div>
    <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
    <div class="btns btn-continer">
      <form action="/listings/<%= listing._id %>/edit" method="get">
        <button type="submit" class="btn-dark add-btn">Edit</button>
      </form>
      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button type="submit" class="btn-dark">Delete</button>
      </form>
    </div>
    <% } %>
    <!-- ------- -->
    <hr />
    <br />
    <% if(currUser){ %>
    <div class="col-8 offset-3">
      <h4>Leave a review</h4>
      <form
        action="/listings/<%= listing._id %>/reviews"
        method="post"
        novalidate
        class="needs-validation"
      >
        <!-- <div class="mb-3 mt-3">
          <label for="rating" class="form-lable">Rating</label>
          <input
            type="range"
            name="rating"
            id="range"
            min="1"
            max="5"
            class="form-range"
            required
          />
        </div> -->
        <div class="mb-3 mt-3">
          <label for="rating" class="form-lable">Rating</label>
          <fieldset class="starability-slot">
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="rating"
              value="1"
              checked
              aria-label="No rating."
            />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-lable">Comment</label>
          <textarea
            name="comment"
            id="comment"
            cols="30"
            rows="5"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please Submit some comment</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
      <hr />
      <% } %>

      <div>
        <h2>All Reviews</h2>
        <div class="row">
          <%const reviews = listing.reviews %> <% for (review of reviews){%>
          <div class="card col-5 md-3 mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= review.author.username %></h5>
              <p
                class="starability-result"
                data-rating="<%=review.rating %>"
              ></p>
              <p class="card-text"><%= review.comment %></p>

              <form
                method="POST"
                class="mb-3"
                action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
              >
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>

          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>
